<div class="about-page">
  <div class="page-header">
    <div class="page-title">
      <h1>
        <mat-icon style="vertical-align: bottom; font-size: 40px; margin: auto 10px 12px auto">error_outline</mat-icon>
        About</h1>
    </div>

    <div class="message-btn">
      <button mat-raised-button color="accent" (click)="openContactDialog()">Message</button>
    </div>
  </div>
  <div class="page-content">
    <div class="about-info">
      <div class="about-info-title">
        <h1>Aligator Money </h1>
        <img src="/assets/images/wallet.png" alt="">
      </div>
      <div class="about-info-text">
        <p>
          This web application is designed to control the finances of users.
          The functionality of the application is that the user creates accounts for the desired purpose, specifying the balance of each of them,
          and then enters the transactions into the appropriate account. Transactions can reflect a user's expenses and income, and their impact
          on the overall account balance, showing the amount of expenses and income relative to the current balance.
        </p>
        <p>This web application is a demonstration of the use of modern web technologies to develop powerful one-page web applications based on the JavaScript programming language.
          Technology stack: <strong>Angular, NodeJS, ExpressJS, MongoDB</strong>.</p>
        <p>
          The idea of this web application was borrowed from popular applications for cost control. The essence of this web application is not commercial,
          but for the purpose of the practice of building complex web applications.
        </p>
        <p>Thank you for registering in the web application, I hope that everyone will have a positive experience. To submit a question or suggestion of any nature,
          click the <strong>Message</strong> button, and a feedback window will appear.</p>
      </div>
    </div>
  </div>
</div>
