<div class="modal-info">
  <div class="modal-info-title">
    <h1>Aligator Money </h1>
    <img src="/assets/images/wallet.png" alt="">
  </div>
  <div class="modal-info-text">
    <p>
      This web application is designed to control the finances of users.
      The functionality of the application is that the <br> user creates accounts for the desired purpose, specifying the balance of each of them,
      and then enters the transactions <br> into the appropriate account. Transactions can reflect a user's expenses and income, and their impact
      on the overall <br> account balance, showing the amount of expenses and income relative to the current balance.
    </p>
    <p>
      To start using the web application, you need to register and then log in. After that, you can read more about this
      <br> project on the <strong>About</strong> page.
    </p>
  </div>
  <div class="modal-close-btn">
    <button type="button" mat-flat-button (click)="closeDialog()">Close</button>
  </div>
</div>
